# Hugging Face API Configuration
HF_API_KEY=
MODEL_NAME=HuggingFaceH4/zephyr-7b-beta

# Server Configuration
AGENT_PORT=8000

# Optional: Other LLM / RAG keys
# GEMINI_API_KEY=
# EMBEDDING_MODEL=all-MiniLM-L6-v2
